@media all and (max-width: 1400px) {
    section#about .container .programmer-description {
        font-size: 1.5em;
        margin-top: 20px;
    }
}

@media all and (max-width: 927px) {
    section#about .container {
        flex-direction: column;
    }
    section#about .container .programmer-description {
        padding: 0 10px;
        font-size: 1.1em;
        margin-top: -80px;
    }
}

@media all and (max-width: 680px) {
    nav#main-nav.mobile-menu {
        max-height: 500px;
    }
    nav#main-nav ul {
        flex-direction: column;
        align-items: flex-end;
        padding-right: 5px;
    }
    nav#main-nav ul li.menu-item {
        padding: 5px 15px;
        order: 2;
    }
    nav#main-nav ul li.menu-item.menu-home-item {
        order: 0;
        align-self: flex-start;
    }
    nav#main-nav ul li.menu-item.menu-home-item i:hover {
        animation-name: none;
    }
    nav#main-nav ul li.menu-item.menu-mobile-item {
        display: flex;
        order: 1;
        margin-top: -30px;
        border: 1px solid #ab760b;
        color: #a1700c;
        cursor: pointer;
    }
    nav#main-nav ul li.menu-item a,
    nav#main-nav ul li.menu-item a:hover {
        border-bottom: none;
        padding: 0;
    }
}

@media all and (max-width: 480px) {
    header#main-header h1.main-header-item {
        font-size: 2.2em;
    }

    header#main-header h2.main-header-item {
        font-size: 1.1em;
    }
    header#main-header h1::after {
        height: 40px;
    }

    header#main-header h1:hover::after {
        width: 220px;
    }
    section#about .container .image-programmer {
        max-height: 600px;
    }

}