* {
    box-sizing: border-box;
    transition: all 0.4s;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
    min-height: 700px;
    font-family: 'Lato', sans-serif;
}

#wrapper {
    display: flex;
    flex-direction: column;
    width: 99vw;
}

span {
    color: #ba870a;
}

nav#main-nav {
    background: red;
    background-color: rgba(244, 231, 231, 0.9);
    overflow: hidden;
    max-height: 55px;
    position: fixed;
    width: 100%;
}

nav#main-nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    margin-top: 10px;
}

nav#main-nav ul li.menu-item {
    padding: 5px 15px;
}

nav#main-nav ul li.menu-item.menu-home-item {
    flex: 1;
    font-size: 1.7em;
    padding-left: 0;
}

nav#main-nav ul li.menu-item.menu-home-item i {
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

nav#main-nav ul li.menu-item.menu-home-item i:hover {
    animation-name: move-up;
}

nav#main-nav ul li.menu-item.menu-mobile-item {
    display: none;
}

nav#main-nav ul li.menu-item a {
    text-decoration: none;
    color: #a1700c;
    font-weight: 500;
    font-size: 1em;
    border-bottom: 1px solid #000000;
    padding-bottom: 25px;
}

nav#main-nav ul li.menu-item:not(.menu-home-item) a:hover {
    padding-bottom: 5px;
}

@keyframes move-up {
    0% {
        padding-top: 20px;
        color: black;
    }
    50% {
        padding-top: 0px;
    }
    100% {
        padding-top: 20px;
        color: red;
    }
}

header#main-header {
    font-family: 'Roboto', sans-serif;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/wallhaven-500970.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 300;
}

header#main-header h1.main-header-item {
    order: 2;
    font-size: 4em;
}

header#main-header h2.main-header-item {
    order: 1;
    font-size: 2em;
}

header#main-header .main-header-item {
    font-weight: 300;
    padding: 0;
    margin: 0;
}

header#main-header h1::after {
    content: '';
    border: 1px solid transparent;
    height: 76px;
    width: 0;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    transition: 1s all;
}

header#main-header h1:hover::after {
    width: 440px;
    border-top-color: #a1700c;
    border-bottom-color: #ab760b;
}

section#about {
    display: grid;
    grid-template-areas:  "hd hd hd hd hd hd"
                          "i-p i-p i-p p-d p-d p-d";
}

section#about h3 {
    grid-area: hd;
}

.programmer-description {
    grid-area: p-d;
}

.image-programmer {
    grid-area: i-p;
}

section#skills {}

section#experience {}

section#my-projects {}

section#my-courses {}

section#contact {}